body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1{
    font-size: 1.3em;
}
h2{
    font-size: 1em;
}
p{
    font-size: 1em;
}
/*---HEADER---*/
.menu{
    align-items: flex-start;
    flex-flow: row wrap;
    margin:0;
}
.element:nth-child(1)
{
    order: 1;
}
.element:nth-child(2)
{
    order: 3;
    border-bottom: #F2F2F2 solid;
}
.element:nth-child(3)
{
    order: 4;
    border-bottom: #F2F2F2 solid;
}
.element:nth-child(4)
{
    order: 2;
}

.menu img{
    height: 50px;
    margin: 10px 0 0 20px;
    border-bottom: none;
}
header ul{
    padding: 0;
}

header nav li{
    text-align: center;
    font-size: 0.9em;
    padding: 15px;
    width: 40%;
}
header nav ul li:hover{
    color:#0065FC;
    border-bottom: #0065FC solid;
    width: 100%;
}
header a:hover{
    color: #0065FC;
    font-weight: 600;
}
header nav ul li a{
    font-size: 0.9em;
    font-weight: 600;
}

/*---RECHERCHE---*/
/*---barre de recherche---*/
.barre_recherche{
    justify-content: center;
}
.barre_recherche i{
    font-size: 20px;
    padding: 15px;
}
.input{
    height: 50px;
    width: 250px;
}
::-webkit-input-placeholder{
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
}
.button{
    display: none;
}
.icon_search i{
    visibility: inherit;
    font-size: 1.1em;
    padding: 17px;
    background-color: #0065FC;
    color: #DEEBFF;
    border-radius: 25%;
}
/*---filtree---*/
.recherche{
    margin: 40px 20px 0 20px;
}
.filtres{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 400px;
    flex-wrap: wrap;
}
.filtres_titre{
    margin: 10px 10px 0 10px;
}
.filtres div{
   margin: 0 10px 0 10px;
}
.information{
    margin: 10px 0 10px 0 ;
}
.information p{
    font-size: 0.8em;
}


/*---HEBERGEMENT---*/
#hebergement{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    border-radius: 0;
    margin: 0;
    width: 100%;
}
.marseille_hebergements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hebergement{
    width: 100%;
    margin: 10px 0 10px 0;
}
.hebergement img{
    max-width: 100%;
    object-fit: cover;
}
.sous_hebergement{
    margin: 5px; 
}

#populaires, .marseille{
    border-radius: 0;
    margin: 0;
}
.marseille{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 90%;
}
.marseille h2{
    margin: 0;
}
.marseille h3 a:hover{
    color: #0065FC;
    text-decoration: underline;
}
#populaires{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.populaire{
    width: 100%;
}
.titre_populaires{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.titre_populaires h2{
    margin: 0 60px 0 0;
}
.sous_populaire{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}


/*---ACTRIVITES---*/
#activites{
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
}
.sous_activites{
    flex-direction: column;
}
.sous_activites a{
    width: 90%;
    height: 140px;
}
.sous_activites_1{
    margin-top: 0px;
}
.sous_activites_2, .sous_activites_3, .sous_activites_4, .sous_activites_5{
    margin-bottom: 20px;
    width: 100%;
}
.sous_activites_1 img, .sous_activites_2 img, .sous_activites_3 img, .sous_activites_4, .sous_activites_5{
    width: 100%;
    height: 100%;
}
.activites{
    margin: 0px;
    display: flex;
    justify-self: center;
    align-items: center;
}
.sous_sous_activites{
    flex-direction: column;
    margin-bottom: 0px;
}


/*---FOOTER---*/
footer{
    flex-direction: column;
}
.footer{
    margin-right: 0;
}
.footer h2{
    margin: 10px 0 5px 0;
}
footer ul{
    font-size: 0.9em;
}
footer li{
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 2px;
}