body{
    margin: 0;
}

h2{
    font-size: 1.7em;
}
h3{
    font-size: 1em;
}
p{
    font-size: 1.3em;
}
/*---HEADER---*/
header{
    flex-direction: column;
    align-items: flex-start;
    margin:0;
}
header img{
    height: 50px;
    margin: 20px;
}
header a{
    padding: 0 15px 15px 15px;
    border-bottom: #F2F2F2 solid;
}


/*---RECHERCHE---*/
/*---barre de recherche---*/
.barre_recherche{
    justify-content: center;
}
.barre_recherche i{
    font-size: 20px;
    padding: 15px;
}
.input{
    height: 50px;
}
::-webkit-input-placeholder{
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
}
.button{
    display: none;
}
.icon_search i{
    visibility: inherit;
    font-size: 1.1em;
    padding: 17SSpx;
    background-color: #0065FC;
    color: #DEEBFF;
    border-radius: 25%;
}
/*---filtree---*/
.recherche{
    margin: 40px 20px 0 20px;
}
.filtres{
    max-width: 400px;
    flex-wrap: wrap;
}
.filtres div{
   margin: 0 10px 0 10px;
}
.information{
    margin: 10px 0 10px 0 ;
}
.information p{
    font-size: 0.8em;
}


/*---HEBERGEMENT---*/
#hebergement{
    flex-direction: column-reverse;
    border-radius: 0;
    margin: 0;
    
}
.hebergement img{
    max-width: 340px;
    object-fit: cover;
}
.sous_hebergement{
    margin: 5px; 
}

#populaires, .marseille{
    border-radius: 0;
    margin: 0;
}
.marseille{
    align-items: center;
    background-color: white;
}
.marseille h2{
    margin: 0;
}
#populaires{
    align-items: center;
    max-width: 414px;
}
.populaire{
    width: 330px;
}

.hebergement{
    width: 340px;
}


/*---ACTRIVITES---*/
#activites{
    flex-direction: column;
}
.sous_activites{
    flex-direction: column;
}
.sous_activites a{
    width: 340px;
    height: 140px;
}
.sous_activites_1 img, .sous_activites_2 img, .sous_activites_3 img{
    max-width: 340px;
    height: 100px;
}
.activites{
    margin: 0px;
    align-items: center;
}

.sous_sous_activites{
    flex-direction: column;
}


/*---FOOOTER---*/
footer{
    flex-direction: column;
}
.footer{
    margin-right: 0;
}
.footer h3{
    margin: 0;
}
footer ul{
    font-size: 1.5em;
}